<div class="featured icon-box">


<fieldset class="border p-2 ">
  <legend  class="w-auto">Create User</legend>
  <form name="form" ng-submit="adduser(user,data.data)" role="form" class="adduserform">
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="inputEmail4">Name</label>
        <input type="text"  name="Username" id="Username" class="form-control" ng-model="user.name" placeholder="NAME" required>
        <span ng-show="form.Username.$dirty && form.Username.$error.required" class="help-block">user name Required</span>
      </div>

      <div class="form-group col-md-3">
        <label for="inputEmail4">Password</label>
        <input type="password"  name="password" id="password" class="form-control" ng-model="user.password" placeholder="Password" required>
        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password Required</span>
      </div>

      <div class="form-group col-md-3">
        <label for="inputState">Role</label>
        <select id="role" name="role" class="form-control" ng-model="user.rol" required>
        <span ng-show="form.role.$dirty && form.role.$error.required" class="help-block">Role Required</span>
          <!-- <option ng-repeat="d in data.data1" value="{{d.id}}">{{d.description}}</option> -->
          <option value="ROL00004">Merchant</option>
          <option value="ROL00009">Customer</option>
                  </select>
      </div> 
      <div class="col-md-3"><button type="submit" style="align-self: center;" class="btn btn-primary  btn-sm" ng-disabled="form.$invalid">Create</button></div>
    </div>
  </form>
</fieldset>
</div>