<div class="container">
  <div class="row">
    <div class="col-12"></div>
 
</div>
</div>
<div>

<table class="table table-bordered">
      
<thead>
 <tr>
  
  <th scope="col">SI.NO.</th> 
  <th scope="col">Invoice Number</th>
  <th scope="col">Name Of Contractor</th>
  <th scope="col">Date</th>
  <th scope="col">Month</th>
  <th scope="col">Amount </th>
  <th scope="col">Division </th>
  <th scope="col">status </th>

  <!-- ng-class="{'selected':$index==rowNumber}" -->
  
</tr>
</thead>

</table>




<!-- <ul>
<li ng-repeat="x in attendancelist | filter : {'att_date' : '2020-12-31T18:30:00.000Z'}">
    {{x.emp_id + ", " + x.first_name}}
</li>
</ul> -->

        
      


        </div>
        </div>