
<div class="container container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="sticky-top sticky" >
            <div class = "card">
                <span class="border border-primary">
                    <h4 class="card-header mt-0">Contractor List</h4>

                    <div class="card-body">                               
                        <table class="table table-striped table-sm">
                        
                                            <thead>
                                                    <tr>
                                                        
                                                        
                                                        <th scope ="col" >Name</th>
                                                        <th scope ="col" >Status</th>
                                                        <th scope ="col" >Action</th>
                                                        
                                    
                                                    </tr>
                                            </thead>
                                         
                                    
                        </table>
                    </div>
    
                </span>
            </div> 
            </div>              
        </div> 




                   
    </div>                
</div>    