a{
  text-decoration: none;
  color: inherit;     
}

.mobile{
  display: none; /*hides short title*/
}

.foot h3:hover{
  color: #2E8BC0 !important;
  width: fit-content;
  border-bottom: 2px solid #2E8BC0;
}
.foot h6:hover{
  width: fit-content;
  color: #2E8BC0 !important;
  border-bottom: 2px solid #2E8BC0;
}
.icon-box button{
  border: none;
  background: none;
  height: 100%;
  width:100%;
  padding: 40px 30px;
  
}
@media screen and (max-width:720px) {
  .col-11 {
    margin-top:3px !important;
  }

  
}



@media screen and (max-width:900px) {
  .responsive_title h2{
    font-size:medium;
  }

  table{
    font-size: smaller;
  }

  table td{
    padding: 0.1rem 0.1rem !important;
  }

  .mainNav{
    background-color: #e9e9e9 !important ;
  }

  .nav-item .btn
  {
    padding: .2rem .5rem;
    margin-top: 0% !important;
    border: none;
    font-size: smaller;   
    color: #2E8BC0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif    
  }

  #navbarNav{
    /* background-color: #F7ECDE; */
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
  }

  @media screen and (max-width:600) {
    .pc{
      display: none;
    }
  
    .mobile{
      display: inline;
    }
  }



  .responsive_title{
    width:50%;
    margin: auto;
    margin-left: 5px;
    margin-top: 5px;
  }
  nav button{
    /* margin: auto; */
    margin-top: 5px;
    margin-left: 5px;
  }

  /* nav button .rightalign{
    margin: 0px !important;
  } */
  nav img{
    margin: auto;
    margin-right: 1rem;
    margin-left: 5px;
    height: 35px !important;
    width: 35px !important;
  }

  nav .sized, .navbar-toggler-icon{
    height: 30px !important;
    width: 30px !important;

  }

  .navbar-toggler-icon{
    width: 20px !important;
    margin-right: 0%;
    font-size: small;
  }

  nav .sized{
    padding: 0% ;
  }
  

  
}
.filter .row{
  margin: 10px 2%;
  padding: 5px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: #6c757d;
  transition: all ease-in-out 0.3s;
  
}
.filter .col-6{
  display: flex;
  padding: auto 5px !important;
  justify-content: left;
}
.filter button{
  background: #2E8BC0;
  margin: auto;
  margin-left: 10px;
}
multiselect {
  display:block;
}
multiselect .btn {
  width: 100%;
  background-color: #FFF;
}
multiselect .btn.error{
  border: 1px solid #da4f49 !important;
}
multiselect .dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}
multiselect .dropdown-menu {
  width: 100%;
  box-sizing: border-box;
  padding: 2px;
}
multiselect .dropdown-menu > li > a {
  padding: 3px 10px;
  cursor:pointer;
}
.filter select{
  width:100%;
  margin: auto;
  height: fit-content;
}
/* bootstrap.min.css | http://localhost:4000/bootstrap/dist/css/bootstrap.min.css */

.table-bordered td, .table-bordered th {
  /* border: 1px solid #dee2e6; */
  border: 2px solid #1a1d20;
  text-align: center;
}
.table-bordered th{
  background: #1a202687 !important;
  color: white;
}
.container{
  transition: all ease-in-out 1s;
}
.edit td{

  opacity: 1;
  
  } 
  .update-form{
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    margin: 3%;
  }
@media screen and (max-width: 900px) {
  .table-bordered td, .table-bordered th {
    /* border: 1px solid #dee2e6; */
    border: 1px solid #1a1d20;
    text-align: center;
    padding: 0.1rem;
  }
}
@media screen and (max-width:930px) {
  .table-responsive .responsivebg{
    width:fit-content;
  }
 }
 .navbar-nav li{
  padding-right: 5px;

}
nav img{
  height:70px;
   width:70px;
}

.form-select{
  color: rgba(39, 35, 35, 0.753) !important;
  background-color: white !important;
 

}
.featured .icon-box:active {
  background: #2E8BC0;
}
.featured .icon-box:active i, .featured .icon-box:active h3 a, .featured .icon-box:active p {
  color: #fff;
}
.orcolor{
  color:#2E8BC0;
}
select:focus{
  box-shadow: #2E8BC0;
}

/*--------------------------------------------------------------
# cards
--------------------------------------------------------------*/
.featured {
  position: relative;
  z-index: 2;
}
.featured .icon-box {
  padding:0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: #fff;
  transition: all ease-in-out 0.3s;
  height: 100%;
}
.featured .icon-box i {
  color: #2E8BC0;
  font-size: 42px;
  margin-bottom: 15px;
  display: block;
  line-height: 0;
}
.featured .icon-box h3 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 20px;
}
.featured .icon-box h3 a {
  color: #545454;
  transition: 0.3s;
}
.featured .icon-box p {
  color: #545454;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.featured .icon-box:hover {
  background: #2E8BC0;
}
.featured .icon-box:hover i, .featured .icon-box:hover h3 a, .featured .icon-box:hover p {
  color: #fff;
}
.hide {
  display: none;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: orange !important;
  border-bottom: 3px solid orange !important;
  background-color: initial !important;
  
}

.nav-link{
    border-bottom: 1px solid black !important;
    color: #00092C !important;
}

a
{
    color: orange !important;

}


.evenmargin{

width: fit-content;
padding: 0rem 1rem;
padding-left: 8rem;
}

.col{
width:33% !important;

}


.full{
  width: 100%;
  margin: 0%;
}




.listbox{
  padding:0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: #fff;
  transition: all ease-in-out 0.3s;
  height: 60vh;



  overflow-y: scroll;
}



.white{
  color:white;
}



.myDIV:hover + .hide {
  display: block;
  color: red;
}
.sign-in-form{
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  margin: 3%;
}

.sign-in-form input{
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.sign-in-form input:focus{
  border-color: #2E8BC0;
}

.sign-in-form button {
  background: #2E8BC0;
  border: 0;
  border-radius: 50px;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}
/* for faculty selection */
.wrapper {
  width: 200px;
  position: relative;
}
.wrapper .selected-items-box {
  cursor: pointer;
  border: solid 1px #ddd;
  padding:10px;
  background-color: #333;
  color: #ffffff;
}
.selected-items-box .items-list {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
.selected-items-box .items-list li {
  display: inline;
}

.wrapper .list {
  display: none;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: solid 1px #C7C6C7;
  border-right: solid 1px #C7C6C7;
  border-bottom: solid 1px #C7C6C7;
  z-index: 100;
  position: absolute;
  width: 100%;
}
.list .items-list {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
.list .items-list li {
  margin: 0;
  width: 100%;
  padding: 0;
  border-bottom: solid 1px #C7C6C7;
  padding: 5px;
  background-color: #fff;
}
/* for batch selection */
.wraper {
  width: 200px;
  position: relative;
}
.wraper .selected-items-wox {
  cursor: pointer;
  border: solid 1px #ddd;
  padding:10px;
  background-color: #333;
  color: #ffffff;
}
.selected-items-wox .items-list1 {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
.selected-items-box .items-list1 li {
  display: inline;
}

.wraper .list1 {
  display: none;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: solid 1px #C7C6C7;
  border-right: solid 1px #C7C6C7;
  border-bottom: solid 1px #C7C6C7;
  z-index: 100;
  position: absolute;
  width: 100%;
}
.list1 .items-list {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
.list1 .items-list1 li {
  margin: 0;
  width: 100%;
  padding: 2rem;
  border-bottom: solid 1px #C7C6C7;
  padding: 5px;
  background-color: #fff;
}

.visible{
  display: block;
}
.card-box{
  padding:0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: #fff;
  transition: all ease-in-out 0.3s;
  height: 100%;
}



.deleteSchedule td
{
  font-size: medium;
  font-weight: 500;
}


.full_width input, .full_width button, .full_width select, .full_width .wrapper{
  width: 100% !important;
}

.no_button
{
  background: none;
  border: none;
  color: #2E8BC0;
}

.no_button:hover{
  border-bottom: 2px solid #da4f49;
}

.col-12 select{
  width: 100%;
}

.addDepartment .form-select{
  width:100%;
  border-radius: 3px;
  border: 1px solid;
}
/* test */
/* @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
} */


.customs select{
  border-radius:5%;
}

.sub-add .icon-box2:hover{
  padding:0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: #fff;
  transition: all ease-in-out 0.3s;
  height: 100%;
  padding: 5%;
}



/* setting tables */

.mobiletable{
  width:100%;
  overflow-x: scroll;
  padding: 2% 2%;
  margin-bottom: 20px;
}

.mycard
{
  margin: 2%;
  width:95%;
  padding: 3%;
  
  box-shadow: 0px 1px 15px #f5c2ba;
  
}

.divisioncards
{
  margin: 2%;
  width:95%;
  padding: 3%;
  box-shadow: 0px 0px 15px #000000;
}


.unknownselectmargin li
{
  padding-left: 10px;
  border: 1px solid black;
  background-color: #6c757d;
}

.close-button
{
  background:none;
  color:red;
  font-weight:500;
  border-radius:100%;
  border:1px solid rgb(241, 233, 188);
}

.close-button:hover{
  background-color: #da4f49;
  color: white;
}


.ttsettingdelete td
{
 padding: 3% 3%;
}

.addDepartment ul{
  height: 10vh !important;
}


.sir_names .small_checks{
  height: 15px;
  width: 15px;
}