<div class="bg-dark full_width" style="height: fit-content;width:100%;padding: 1% 2%;">
    <div class="row" style="justify-content: center;" ng-show="visible">

        <div class="col">       
            <select  ng-model="dept.dept" class="form-select form-select-sm " aria-label=".form-select-sm example" style="width:100%;">
                <option selected>Select Department</option>
                <option ng-repeat="d in filterdata.data" value={{d.department}}>{{d.department}}</option>
            </select>
        </div>
        <div class="col">
            <select ng-disabled="!dept.dept" ng-model="dept.grad" class="form-select form-select-sm "
                aria-label=".form-select-sm example" style="width:100%;">
                <option selected>Select Graduation</option>
                <option ng-repeat="d in filterdata.data1" value={{d.course}}>{{d.course}}</option>
            </select>
        </div>
        <div class="col">
            <select ng-disabled="!dept.grad" ng-model="dept.spelization" class="form-select form-select-sm"
                aria-label=".form-select-sm example" style="width:100%;">
                <option ng-repeat="d in filterdata.data2 | filter:{course:dept.grad,department:dept.dept}"
                    value={{d.specilization}}>{{d.specilization}}</option>

            </select>
        </div>
        <div class="col" >
            <select ng-disabled="!dept.spelization" ng-model="dept.sem" class="form-select form-select-sm"
                aria-label=".form-select-sm example" style="width:100%;">
                <option
                    ng-repeat="d in filterdata.data3 | filter:{course:dept.grad,department:dept.dept,specilization:dept.spelization}"
                    value={{d.id}}>{{d.semester}}</option>
            </select>
        </div>
        <div class="col" >
            <button ng-disabled="!dept.sem" type="submit" class="btn btn-primary " ng-click="getweekrpt(dept,true)" style="background-color: #e96b56;
              border-radius: 5px;font-size: small;font-weight:bolder; width:100%">Create</button>
             
        </div>

        <div class="col">
            <button ng-disabled="!dept.sem" type="submit" class="btn btn-primary " ng-click="allotwithprevious(dept)" style="background-color: #e96b56;
            border-radius: 5px;font-size: small;font-weight:bolder;">Create with previous data</button> 
        </div>
    </div>
</div>
<!-- faculty adding  -->
<div ng-show="createnewallot">
    <div class="bg-dark  full_width" style="height: fit-content;width:100%;padding: 1% 2%;">
        <div class="row white" style="justify-content: center;">
            <div class="form-check form-check-inline col">

                <input class="form-check-input white" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Lab" ng-model="d.type">
                <label class="form-check-label" for="inlineRadio1">Lab</label>
              
                <input class="form-check-input white" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Theory" ng-model="d.type">
                <label class="form-check-label" for="inlineRadio2">theory</label>
              </div>
            <div class="col">
                <div>Select Subject</div>
                <select ng-model="d.subject" class="form-select form-select-sm " aria-label=".form-select-sm example">
                    <option selected>Select subject</option>
                    <option ng-repeat="s in subjectinfo.subjects | filter:{type:d.type}" value={{s}}>{{s.sub_name}}</option>
                </select>
            </div>
            <div class="col">
                <div>Department</div>
                <select  ng-model="d.department" class="form-select form-select-sm "
                    aria-label=".form-select-sm example" ng-disable="d.subject">
                    <option ng-repeat="d in subjectinfo.department" value={{d.department}}>{{d.department}}</option>
                </select>
            </div>
            <!-- for lab -->
            <div class="col" ng-hide="d.type=='Lab'?false:true">
                <div class="wrapper" >
                    <div class="selected-items-box">
                    faculty
                            <span class="dropdown-icon"></span>
                    </div>
                    <div class="list">
                        <ul class="items-list sir_names" >
                            <li style="background-color: #e96b56; display: flex;" ng-repeat="f in subjectinfo.facinfo | filter:{department:d.department}">
                            <input class="small_checks" type="checkbox" value="f.name" ng-model="f.selected">
                        <span >{{f.name}}</span>
                                <!-- <label>{{f.name}}</label> -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-if="d.type=='Lab'?false:true">
                <div>Faculty</div>
                    <select  ng-disabled="!d.department" ng-model="d.faculty" class="form-select form-select-sm"
                        aria-label=".form-select-sm example">
                        <option ng-repeat="f in subjectinfo.facinfo | filter:{department:d.department}"
                            value={{f}}>{{f.name}}</option>
    
                    </select>
            </div>
            <div class="wraper col" ng-if="d.type=='Lab'?true:false">
                <div class="selected-items-box ">
                Batch
                          <span class="dropdown-icon"></span>
                
               
                        </div>
                    <select ng-model="d.batch" class="form-select form-select-sm"
                    aria-label=".form-select-sm example">
                        <option ng-repeat="f in batch"
                        value={{f}}>{{f.value}}</option>
                    </select>
                
            </div>
          
           
            <div class="col">
        
                <button  type="submit" class="btn btn-primary mt-3" ng-click="addfaculty(d,subjectinfo.facinfo,f)" style="background-color: #e96b56;
                  border-radius: 5px;font-size: small;font-weight:bolder;">Create</button>
            </div>
            </div>

           
        </div>
    </div>
<!-- </div> -->
<!-- faculty adding end -->

    

<div class="mycard">
    <table class="table table-striped">
        
        <thead>
            <tr>
            <th>S no</th>  
            <th scope="col">Subject Name</th>
            <th scope="col">Faculty Name</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="f in facsub">
            <td>{{$index+1}}</td>
            <td>{{f.subject}}{{f.batch}}</td>
            <td><li ng-repeat="fac in f.faculty" >{{fac.facname}}</li></td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col" style="width: fit-content;">
        <button type="button" class="btn btn-secondary" ng-click="confirmfacallotment(facsub,dept)">Save Data</button>
    </div>
    </div>
</div>

</div>    
<div>
    <div class="featured">
        <div class="icon-box" style="padding:0.7rem;">
            <div class="row">
                    <div class="col">
                        <strong> Department</strong>
                        <p ng-show="dept.sem">{{dept.dept}}</p>
                    </div>
                    <div class="col">
                        <strong> Course</strong>
                        <p ng-show="dept.sem">{{dept.grad}}</p>
                    </div>
                    <div class="col">
                        <strong> Specialization</strong>
                        <p ng-show="dept.sem">{{dept.spelization}}</p>
                    </div>
                    <div class="col">
                        <strong> Semester</strong>
                        <p ng-repeat="d in filterdata.data3 | filter:{course:dept.grad,department:dept.dept,specilization:dept.spelization,id:dept.sem}" ng-show="dept.sem">{{d.semester}}</p>
                    </div>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>S no</th>  
              <th scope="col">ID</th>
              <th scope="col">Subject Name</th>
              <th scope="col">Faculty Name</th>
            </tr>
          </thead>
        <tbody>
          <tr ng-repeat="p in previousdata.theory">
              <td>{{$index+1}}</td>
              <td>{{p.theoryfacallt}}</td>
              <td>{{p.sub_name}}</td>
              <td>{{p.name}}</td>
              <!-- <td><li ng-repeat="fac in f.faculty" >{{fac.facname}}</li></td> -->
          </tr>
        </tbody>
    </table>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>S no</th>  
              <th scope="col">ID</th>
              <th scope="col">Subject Name</th>
              <th scope="col">Batch</th>
              <th scope="col">Faculty1</th>
              <th scope="col">Faculty2</th>
              <th scope="col">Faculty3</th>
              <th scope="col">Faculty4</th>
            </tr>
          </thead>
        <tbody>
          <tr ng-repeat="p in previousdata.lab">
              <td>{{$index+1}}</td>
              <td>{{p.labfacallt}}</td>
              <td>{{p.sub_name}}</td>
              <td>{{p.batch}}</td>
              <td>{{p.faculty}}</td>
              <td ng-repeat ="q in previousdata.data2" ng-if="q.sub_name==p.sub_name && q.batch==p.batch">{{q.name}}</td>
              <td ng-repeat ="q in previousdata.data3" ng-if="q.sub_name==p.sub_name && q.batch==p.batch">{{q.name}}</td>
              <td ng-repeat ="q in previousdata.data4" ng-if="q.sub_name==p.sub_name && q.batch==p.batch">{{q.name}}</td>

              <!-- <td><li ng-repeat="fac in f.faculty" >{{fac.facname}}</li></td> -->
          </tr>
        </tbody>
    </table>
</div>
<div ng-if="settable">
    <div class="table-responsive edit">
        <div class="shadow p-3 mb-5  rounded responsivebg" style="background-color:#FAF9F6">    
            <table class="table table-bordered" >
                <thead>
                    <th>
                        <h6><strong>DAY </strong></h5>
                    </th>
                    <th style="text-align: center;">9:00-10:00</th>
                    <th style="text-align: center;">10:00-11:00</th>
                    <th style="text-align: center;">11:00-12:00</th>
                    <th style="text-align: center;">12:00-1:00</th>
                    
                    <th style="text-align: center;">2:00-3:00</th>
                    <th style="text-align: center;">3:00-4:00</th>
                    <th style="text-align: center;">4:00-5:00</th>
    
                    </tr>
                </thead>
                <tbody>
                    <tr  ng-repeat="f in subjectinfo.days">
                        <td><div>{{f.day}}</div>
                            <div><button type="reset" ng-click="resetday(f)" class="no_button">Reset</button></div>
                        </td>
                        <td ng-repeat="d in f.periods" >
                            
                              <div ng-if="d.selected">
                                    <div ng-if="!d.avaliable">
                                        <div class="row">
                                        <div class="form-group col">
                                            
                                            <label for="inputPassword4">FROM</label>
                                            <select   class="form-control d-inline-block" ng-model="d.frm" required>
                                                <option ng-repeat="s in period2 | filter:{value:d.valu}" value={{s.value}}>{{s.value}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group col">
                                            <label for="inputPassword4">TO</label>
                                            <select  class="form-control d-inline-block" ng-model="d.to" ng-disabled="!d.frm" ng-change="fetch(d,f,dept.sem)" required>
                                                <option ng-repeat="s in period2" ng-if="d.valu<=4?(s.value<=4 && s.value>=d.valu):(s.value>4 && s.value>=d.valu)" value={{s.value}}>{{s.value}}</option>
                                            </select>
                                        </div>
                                        </div>
                                    
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                        <p>From <strong style="color:#da4f49 ;">{{d.frm}}</strong> To <strong style="color:#da4f49 ;">{{d.to}}</strong></p>
                                    </div>
                                    </div>

                                    <div class="row">
                                    <div class="col-12">
                                    <select class="form-control d-inline-block-sm" aria-label=".form-select-sm example" ng-model="d.select" required>
                                        <option ng-repeat="a in d.avaliable" value="{{a.labfacallt}}">{{a.subject}}</option>
                                    </select>
                                    </div>
                                    <div class="col-12">
                                    <select class="form-control d-inline-block-sm" ng-disabled="!d.select" aria-label=".form-select-sm example" ng-model="d.building" required>
                                        <option ng-repeat="a in previousdata.buildings" value="{{a.building_name}}">{{a.building_name}}</option>
                                    </select>
                                    </div>
                                    <div class="col-12">
                                    <select class="form-control d-inline-block-sm" ng-disabled="!d.building" aria-label=".form-select-sm example" ng-model="d.room" required>
                                        <option ng-repeat="a in previousdata.rooms | filter:{building_name:d.building}" value="{{a.room_no}}">{{a.room_no}}</option>
                                    </select>
                                    </div>
                                    <div class="col">
                                    <button type="button" class="btn btn-primary btn-sm" ng-disabled="!d.room" ng-click="addinfo(d,f.day)">Add</button>
                                    </div>
                                </div class="col-12" style="width:fit-content">
                                    <!-- <li ng-repeat="a in d.updated">{{a}}<button class="no_button" ng-click="delete(d,a,f.day)">Delete</button></li> -->
                                    <div><table class="ttsettingdelete mt-2" style="width:100% ;">
                                        <tr ng-repeat="a in d.updated">
                                            <td><h7  ng-repeat="f in d.av | filter:{labfacallt:a}">{{f.subject}}</h7></td>
                                            <td><button class="no_button close-button" ng-click="delete(d,a,f.day)">X</button></td>
                                        </tr>
                                    </table>
                                </div>
                                    <!-- <li ng-repeat="a in d.avaliable" ng-if="d.updated.length<0"><h7 ng-if="d.updated.includes(a.labfacallt)">{{a.subject}}</h7></li> -->
                                    <!-- <li ng-repeat="a in d.updated"><li ng-if="updated" ng-repeat="f in d.avaliable | filter:{labfacallt:a}">{{f.subject}}<button class="no_button" ng-click="delete(d,a,f.day)">Delete</button></li></li> -->

                            </div>
                              
                          </div>
                            </div>
                            
                        </td>
                       
                    </tr>
                </tbody>
        </div>
        
    </div>
    <button ng-click="confirmallotment(subjectinfo.days,dept.sem)">Confirm allotment</button>
</div>

