<!-- <link href="../../assets/css/file.css" rel="stylesheet"> -->
<!-- <link href="../../assets/css/adiminui.css" rel="stylesheet"> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <div class="row "   >
        <div class="iconbox mt-3" style="margin-left:8%;">
            <form>
                <div class="row p-3" >
                    <div class="col">
                        <h6>Name:</h6>
                        <input class="form-control" ng-model="add.name" type="text" placeholder="Enter Name" aria-label="default input example" required>
                    </div>
                    <div class="col">
                        <h6>Abbrevation:</h6>
                        <input class="form-control" ng-disabled="!add.name" type="text" ng-model="add.abbr" placeholder="xxxxxxxxxx" aria-label="default input example" required>
                    </div>
                    <div class="col">
                        <h6>Department:</h6>
                        <select class="form-select" ng-disabled="!add.abbr" aria-label="Default select example" ng-model="add.dept">
                            <option ng-repeat="d in data" value="{{d.department}}">{{d.department}}</option>
                        </select>
                    </div>
                    <div class="col" style="display: flex; align-items: flex-end; width: fit-content !important;">
                        <button  type="submit" class="btn btn-primary" ng-disabled="!add.dept" ng-click="addfaculty(add,facdata)" style="background-color: #e96b56;
                    border-radius: 5px;font-size: large;font-weight:bolder;">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="listbox mt-2">
        <h3 style="text-align: center; color:#e96b56;">List of Faculty</h3>
            <table class="table table-striped table-hover mt-1">
                <thead class="table-dark">
                <th>Employee ID</th>
                <th>Name</th>
                <th>Department</th>
                <!-- <th>Joining Date</th> -->
                <th>Status</th>
                <th>
                    <div class="row">
                        <h6>Filter Department:</h6>
                        <select class="form-select" style="width: 50%;"  aria-label="Default select example" ng-model="filter">
                            <option ng-repeat="d in data" value="{{d.department}}">{{d.department}}</option>
                        </select>
                    </div>
                </th>
            </thead>
            <tr ng-repeat="d in facdata | filter:{department:filter}">
                <td>{{d.id}}</td>
                <td>{{d.name}}</td>
                <td>{{d.department}}</td>
                <td>
                    <!-- <input type="button"  ng-init="check(d)" ng-click="change(d)"
                        > -->
                        <button class="btn btn-primary  btn-sm" ng-init="check(d)" style="background-color:rgb(106, 230, 106); border-color: rgb(106, 230, 106);" ng-click="change(d)">{{d.Status}}</button>
                </td>
                <td>
                    <button class="btn btn-primary  btn-sm" ng-click="delete(d)" style="background-color: rgb(191, 25, 25);  border-color: rgb(191, 25, 25)">Delete</button>
                </td>
            </tr>
        </table>
    </div>



